{% extends 'base.html' %}
{% block content %}
<div class="shadow p-3 mb-5 bg-white rounded">
  <h1 style="color:B1FB17">Welcome to the Movie recommender</h1>
  <h3 style="color:B1FB17">Enter the Hollywood movie that you liked so that you will get  other similar movie suggestion</h3>
</div>

  <form action="{{url_for('recommend')}}">
    <input type="text" name="movie" class="form-control" placeholder="Movie name here">
    <br>
    <input type="submit" class="btn btn-info" value="Enter">
  </form>
{% endblock %}
